@model List<Event>
@{
	<h1>@ViewData["SearchName"]</h1>
	foreach(var item in Model)
	{
	    <ul>
            <hr>
			<li class="line" style="vertical-align: top">
				<img alt="image" src=@item.ImagePath height="200" width="200"/>
			</li>
			<li class="line" style="width: 70%">
				<div>
					<div>
						<p>@item.Name</p>
					</div>
					<div>
						<ul>
							<li class="line">
								<p style="text-align: left">@item.EventTime</p>
							</li>
							<li class="line">
								<p style="text-align: center">|</p>
							</li>
							<li class="line">
								<p>@item.City.Name</p>
							</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="line" style="vertical-align: bottom">
				<ul>
					<li>
						<p>@item.Price PLN</p>
					</li>
					<li>
						<a asp-controller="About" asp-action="GetAboutPage" asp-route-name=@item.Name><button type="submit">BILETY</button></a>
					</li>
                </ul>
			</li>
		</ul>
		<br/>
	}
	
}